{% extends "frame.html" %}
{% block title %}Home{% endblock %}
{% block navbar_home_class %}active{% endblock %}
{% block navbar_home_link %}#{% endblock %}
{% block body_container %}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>Access Information</h2>
    <table class="table">
      <tr>
        <th class="instance-headers">Instance ID</th>
        <td>
          {%- if instance_id -%}
          {{- instance_id -}}
          {%- else -%}
          You don't have an instance assigned to you. <br>
          <form name="launch-ec2" action="/ec2" method="POST">
            <div class="form-group">
              <button type="submit" class="btn btn-success">Launch EC2 Instance</button>
            </div>
            <input type="hidden" name="Action" value="Launch">
            <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
          </form>
          {%- endif -%}
        </td>
      </tr>
      <tr>
        <th>IP Address</th>
        <td>{% if instance_info %}{{instance_info["PublicIpAddress"]|e}}{% endif %}</td>
      </tr>
      <tr>
        <th>Instance State</th>
        <td>
          {%- if instance_info -%}
          {{- instance_info["State"]["Name"]|e -}}
          {%- if datetime.now(tzutc()) - instance_info["LaunchTime"] < timedelta(minutes=5) -%}
          <br><em>Your EC2 instance was recently launched and might still be bootstrapping; SSH might not yet be available.</em>
          {%- endif -%}
          {%- endif -%}</td>
      </tr>
      <tr>
        <th>Launch Time</th>
        <td>{% if instance_info %}{{instance_info["LaunchTime"].strftime("%b %d %Y %H:%M:%S UTC")}}{% endif %}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{"lab%s" % user["UserId"]|e}}</td>
      </tr>
      <tr>
        <th>SSH Private Key</th>
        <td>
          <a class="btn btn-primary" href="/ssh-key?format=PEM" role="button">Download for Mac/Linux</a><br>
          <a class="btn btn-primary" href="/ssh-key?format=PPK" role="button">Download for Windows (PuTTY)</a><br>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>Connection Instructions</h2>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#mac-instructions" aria-controls="mac-instructions" role="tab" data-toggle="tab">Mac</a></li>
      <li role="presentation"><a href="#linux-instructions" aria-controls="linux-instructions" role="tab" data-toggle="tab">Linux</a></li>
      <li role="presentation"><a href="#windows-instructions" aria-controls="windows-instructions" role="tab" data-toggle="tab">Windows</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="mac-instructions">
        <ol>
          <li>Download your SSH key by clicking on "Download for Mac/Linux" on the left.</li>
          <li>Open up a terminal. This will be in <b>Applications &gt; Utilities &gt; Terminal</b>.
            <img src="{{static_prefix}}images/macos-terminal-launch.png" width="600" height="304">
          </li>
          <li>Locate the SSH private key file. This is usually <br>
            <code>~/Downloads/{{user["EventId"]}}-private.pem</code></li>
          <li>Make the SSH private key file unreadable by others:<br>
            <code>chmod 600 ~/Downloads/{{user["EventId"]}}-private.pem</code>
          </li>
          <li>SSH into the host using this key and your username at the left:<br>
            <code>ssh -i ~/Downloads/{{user["EventId"]}}-private.pem {{"lab%d" % user["UserId"]}}@
              {%- if instance_info and instance_info["PublicIpAddress"] -%}
                {{- instance_info["PublicIpAddress"] -}}
              {%- else -%}
                <em>a.b.c.d</em>
              {%- endif -%}
            </code>
          </li>
        </ol>
      </div>
      <div role="tabpanel" id="linux-instructions" class="tab-pane">
        <ol>
          <li>Download your SSH key by clicking on "Download for Mac/Linux" on the left.</li>
          <li>Open up a terminal. On Ubuntu Linux, click on the Ubuntu logo in the upper left corner and search for "terminal". Click on the Terminal icon.
            <img src="{{static_prefix}}images/ubuntu-terminal-launch.png" width="411" height="245">
          </li>
          <li>Locate the SSH private key file. This is usually<br>
            <code>~/Downloads/{{user["EventId"]}}-private.pem</code></li>
          <li>Make the SSH private key file unreadable by others:<br>
            <code>chmod 600 ~/Downloads/{{user["EventId"]}}-private.pem</code>
          </li>
          <li>SSH into the host using this key and your username at the left:<br>
            <code>ssh -i ~/Downloads/{{user["EventId"]}}-private.pem {{"lab%d" % user["UserId"]}}@
              {%- if instance_info and instance_info["PublicIpAddress"] -%}
                {{- instance_info["PublicIpAddress"] -}}
              {%- else -%}
                <em>a.b.c.d</em>
              {%- endif -%}
            </code>
          </li>
        </ol>
      </div>
      <div role="tabpanel" id="windows-instructions" class="tab-pane">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li role="presentation"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li role="presentation" class="active"><a href="#windows-1" aria-controls="windows-1" role="tab" data-toggle="tab">1</a></li>
            <li role="presentation"><a href="#windows-2" aria-controls="windows-2" role="tab" data-toggle="tab">2</a></li>
            <li role="presentation"><a href="#windows-3" aria-controls="windows-3" role="tab" data-toggle="tab">3</a></li>
            <li role="presentation"><a href="#windows-4" aria-controls="windows-4" role="tab" data-toggle="tab">4</a></li>
            <li role="presentation"><a href="#windows-5" aria-controls="windows-5" role="tab" data-toggle="tab">5</a></li>
            <li role="presentation"><a href="#windows-6" aria-controls="windows-6" role="tab" data-toggle="tab">6</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="windows-1">
            <ol>
              <li>Download your SSH key by clicking on "Download for Windows/PuTTY" on the left.</li>
              <li><a href="https://the.earth.li/~sgtatham/putty/latest/x86/putty.exe">Click here</a> to download the PuTTY executable.</li>
              <li>Click on the download link to start PuTTY. If you see a security dialog, select "Open" or "Run".<br>
                <img src="{{static_prefix}}images/windows-putty-launch-0.png" width="400" height="301">
              </li>
            </ol>
          </div>
          <div role="tabpanel" class="tab-pane" id="windows-2">
            <ol start="4">
              <li>In the <b>Basic options for your PuTTY session</b> pane, type the IP address from the left into the
                <b>Host Name (or IP address)</b> text box:
                {% if instance_info and instance_info["PublicIpAddress"] -%}<br><code>{{- instance_info["PublicIpAddress"] -}}</code>{%- endif %}
                <img src="{{static_prefix}}images/windows-putty-launch-1.png" width="500" height="480">
              </li>
            </ol>
          </div>
          <div role="tabpanel" class="tab-pane" id="windows-3">
            <ol start="5">
              <li>In the <b>Category</b> pane in the <b>Connection</b> category, click on the <b>Data</b> subcategory.</li>
              <li>In the <b>Data to send to the server</b> pane, type your username from the left into the <b>Auto-login username</b>
                text box: <br>
                <code>lab{{ user["UserId"] }}</code>
                <img src="{{static_prefix}}images/windows-putty-launch-2.png" width="500" height="480">
              </li>
            </ol>
          </div>
          <div role="tabpanel" class="tab-pane" id="windows-4">
            <ol start="7">
              <li>In the <b>Category</b> pane in the <b>Connection</b> category, click on [+] symbol next to the <b>SSH</b> subcategory to
                expand it.</li>
              <li>In the <b>SSH</b> subcategory, click on the <b>Auth</b> sub-subcategory.</li>
              <li>In the <b>Options controlling SSH authentication</b> pane, click on the <b>Browse</b> button.<br>
                <img src="{{static_prefix}}images/windows-putty-launch-3.png" width="500" height="480">
              </li>
            </ol>
          </div>
          <div role="tabpanel" class="tab-pane" id="windows-5">
            <ol start="10">
              <li>In the file dialog, find the SSH key you downloaded in step 1. This will usually be in the <b>Downloads</b> folder and
                will probably be named <code>{{ user["EventId"] }}.ppk</code></li>
              <li>Click on <b>Open</b>.<br>
                <img src="{{static_prefix}}images/windows-putty-launch-4.png" width="600" height="462">
              </li>
            </ol>
          </div>
          <div role="tabpanel" class="tab-pane" id="windows-6">
            <ol start="12">
              <li>Click on <b>Open</b>. You will then get a shell prompt from your EC2 instance.<br>
                <img src="{{static_prefix}}images/windows-putty-launch-5.png" width="500" height="480">
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body_container %}
