{% extends "frame.html" %}
{% block title %}Home{% endblock %}
{% block navbar_home_class %}active{% endblock %}
{% block navbar_home_link %}#{% endblock %}
{% block body_container %}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>Access Information</h2>
    <table class="table">
      <tr>
        <th class="instance-headers">Instance ID</th>
        <td>
          {%- if instance_id -%}
          {{- instance_id -}}
          {%- else -%}
          You don't have an instance assigned to you. <br>
          <form name="launch-ec2" action="/ec2" method="POST">
            <div class="form-group">
              <button type="submit" class="btn btn-success">Launch EC2 Instance</button>
            </div>
            <input type="hidden" name="Action" value="Launch">
            <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
          </form>
          {%- endif -%}
        </td>
      </tr>
      <tr>
        <th>IP Address</th>
        <td>{% if instance_info %}{{instance_info["PublicIpAddress"]|e}}{% endif %}</td>
      </tr>
      <tr>
        <th>Instance State</th>
        <td>
          {%- if instance_info -%}
          {{- instance_info["State"]["Name"]|e -}}
          {%- if datetime.now(tzutc()) - instance_info["LaunchTime"] < timedelta(minutes=5) -%}
          <br><em>Your EC2 instance was recently launched and might still be bootstrapping; SSH might not yet be available.</em>
          {%- endif -%}
          {%- endif -%}</td>
      </tr>
      <tr>
        <th>Launch Time</th>
        <td>{% if instance_info %}{{instance_info["LaunchTime"].strftime("%b %d %Y %H:%M:%S UTC")}}{% endif %}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{"lab%s" % user["UserId"]|e}}</td>
      </tr>
      <tr>
        <th>SSH Private Key</th>
        <td>
          <a class="btn btn-primary" href="/ssh-key?format=PEM" role="button">Download for Mac/Linux</a><br>
          <a class="btn btn-primary" href="/ssh-key?format=PPK" role="button">Download for Windows (PuTTY)</a><br>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock body_container %}
